/*Welcome Styles*/
	.CP-Welcome-content {
        text-align: center;
    }
	.CP-Welcome-flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .CP-Welcome-position-ref {
        position: relative;
    }
	.CP-Welcome-full-height {
        height: 55vh;
    }
    .CP-Welcome-title {
        font-size: 84px;
    }
/*Nav Bar Icons Styles*/
	.CP-Menu-titleIcon {
      font-size: 50px;
      color:#5bc0de;
  	}

	.CP-Menu-titleIcon:hover {
		color:#5cb85c;
	}
	.CP-divborder {
	    border-collapse: collapse;
	    border-color: #28A745;
  	}
  	.CP-aborder {
	    border-collapse: collapse;
	    border-color: #28A745;
	    color: #28A745;
	    background-color: none;
	}
  	.CP-aborder:hover {
      	border-collapse: collapse;
      	border-color: #28A745;
      	color: white;
      	background-color: #28A745;
	}
/*Footer Styles*/
	.CP-Links-No-Style {
      text-decoration: none;
    }

    .CP-Links-No-Style:hover {      
      text-decoration: none;
    }

    .CP-Links-No-Style:visited {      
      text-decoration: none;
    }
/*Efectos, Trasiciones o Transformaciones*/
	.CP-Latido {
		transform: scale(1);
        transition: width 1s, height 1s, transform 2s;
	}
	.CP-Latido:hover {
        transform: scale(1.2);
        transition: width 1s, height 1s, transform 2s;
    }
	.barrido {
		text-decoration: none;
		transition: width 1s, height 1s, transform 1s;
	}
	.barrido:hover {
		text-decoration: none;
		transition: width 1s, height 1s, transform 1s;
		transform: translate(20px,0px);
	}
	.stickyCP {
	  	position: -webkit-sticky; /* Safari */
	 	position: sticky;
	  	top: 0;
	}
/**/
.CP-title-NavBar {
        font-size: 30px;
    }